<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title> {{page}} </title>
</head>
<body>
    <div class="container">
        {{>header}}
        <div class="center">
        <h1 >Hello from <span> {{page}} </span> of handlebars.</h1>
        </div>
        {{!-- <h1>Copyright by &#169; {{name}} and age: {{age}}</h1> --}}
        {{>footer}}
    </div>
</body>
</html>