<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title> {{page}} </title>
</head>
<body>
    <div class="container">
        {{>header}}
        <div class="error">
            <h1> <span>404</span> {{errorText}} </h1>
        </div>
        {{>footer}}
    </div>
</body>
</html>