<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>{{page}}</title>
</head>
<body>
    <div class="container">
        {{>header}}
        <main>
            <h1>This is Main</h1>
            {{!-- <img src="loop.jpg" alt="err"> --}}
        </main>
        {{>footer}}
    </div>
</body>
</html>